 /* General styling for the return page */
.return-page {
  padding: 20px;
  margin: auto;
  font-family: Arial, sans-serif;
}

/* Steps section */
.step-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.step {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.step button {
  border: 2px solid #ccc;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: none;
  color: #ccc;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.active-step button {
  background-color: #000;
  color: white;
  border: none;
}

.label {
  margin-left: 10px;
  font-size: 14px;
  color: #999;
}

.hr-line {
  flex-grow: 1;
  height: 2px;
  background-color: #ccc;
  margin-left: 20px;
  margin-right: 20px;
}

/* Item card styling */
.item-card {
  display: flex;
  background-color: #ffc7cf;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 4px 5px 4px 0px rgba(96, 90, 90, 0.75);
}
.item-card input {
  margin-right: 10px;
  accent-color: red;
  width: 20px;
  
}

.item-details {
  display: flex;
  align-items: center;
  flex: 1;
}

.item-details img {
  width: 100px;
  height: 140px;
  margin-right: 20px;
}

.details-text {
  font-size: 14px;
}

.return-info {
  display: flex;
  flex-direction: column;
}

.return-days {
  display: flex;
  align-items: center;
}

.return-days img {
  margin-right: 10px;
}

.return-days p {
  font-size: 14px;
}

.return-days span {
  color: black;
  font-weight: bold;
}

.reason {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

/* Return summary styling */
.return-summary-container {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
}

.return-summary {
  margin: 20px 0;
}

.summary-item,
.summary-refund {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.back-button,
.create-return-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.back-button {
  background-color: lightgray;
}

.create-return-button {
  background-color: red;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .item-card {
    flex-direction: column;
    padding: 10px;
  }

  .return-info {
    margin-top: 20px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .back-button,
  .create-return-button {
    width: 100%;
    margin-top: 10px;
  }

  .step-container {
    flex-direction: column;
  }

  .hr-line {
    width: 100%;
    margin: 10px 0;
  }

  .return-summary-container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
